<template>
  <div>

    <!-- Features -->
    <Features />

    <!-- About company -->
    <About />

    <!-- Mobile app links -->
    <Mobile />

    <!-- Awards -->
    <Awards />

    <!-- Company Missions -->
    <Mission />

    <!-- Partners -->
    <Partners />

    <!-- Video slider -->
    <Videos />

    <!-- Chart -->
    <Chart />

    <!-- Petition -->
    <Petition />

    <!-- Links to books -->
    <Books />

    <!-- Testimonials -->
    <Testimonials />
    
  </div>
</template>

<script>
  
  // Importing blocks of code
  import Features from '@/components/Features.vue'
  import About from '@/components/About.vue'
  import Mobile from '@/components/Mobile.vue'
  import Awards from '@/components/Awards.vue'
  import Mission from '@/components/Mission.vue'
  import Partners from '@/components/Partners.vue'
  import Videos from '@/components/Videos.vue'
  import Chart from '@/components/Chart.vue'
  import Petition from '@/components/Petition.vue'
  import Books from '@/components/Books.vue'
  import Testimonials from '@/components/Testimonials.vue'

  export default {
    name: 'Home',
    components: {
      Features,
      About,
      Mobile,
      Awards,
      Mission,
      Partners,
      Videos,
      Chart,
      Petition,
      Books,
      Testimonials
    }
  }

</script>