<template>
  <div id="app">
    
    <app-header />
    
    <!-- The code will change depending on the route -->
    <router-view></router-view>

    <app-footer />

  </div>
</template>

<script>
import AppHeader from './layout/Header.vue'
import AppFooter from './layout/Footer.vue'

export default {
  name: 'App',
  components: {
    AppHeader,
    AppFooter    
  }
}
</script>

<style>


</style>
